@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1>Welcome to Munch</h1>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>