
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_start.cshtml";
}
<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1>Welcome To Our eRestaurant</h1>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>