
@{
    ViewData["Title"] = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div>
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Restaurant Location</h5>
        </div>
    <p>
        Address: Shop V3, Sector V DHA Phase 2, Lahore, 54792, Pakistan
    </p>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3402.584885921414!2d74.4093847744233!3d31.480603449107726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391909bce2d9924f%3A0x764ef87c962bce7d!2sMunch!5e0!3m2!1sen!2s!4v1701445339487!5m2!1sen!2s" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


</center>